*{
  margin: 0;padding: 0;box-sizing: border-box;
}
.card {
  min-width: 400px;
  width: auto;
  min-height: 600px;
  margin-top: 20px;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

hr{
  border: 3px solid blue;
}